# yaml-language-server: $schema=../vendor/symfony/routing/Loader/schema/routing.schema.json

# This file is the entry point to configure the routes of your app.
# Methods with the #[Route] attribute are automatically imported.
# See also https://symfony.com/doc/current/routing.html

# To list all registered routes, run the following command:
#   bin/console debug:router
# api/config/routes.yaml
auth:
    path: /auth
    methods: ["POST"]

auth_family:
    path: /auth/family
    controller: App\Controller\AuthController::verifyFamilyCode
    methods: POST

auth_profile:
    path: /auth/profile
    controller: App\Controller\AuthController::selectProfile
    methods: POST

api_me:
    path: /api/me
    controller: App\Controller\UserController::me
    methods: GET

api_me_famille:
    path: /api/me/famille
    controller: App\Controller\UserController::meFamille
    methods: GET

api_door_open:
    path: /api/doors/{id}/open
    controller: App\Controller\DoorController::open
    methods: POST

api_themes:
    path: /api/themes
    controller: App\Controller\ThemesController::index
    methods: GET
    
api_photo_upload:
    path: /api/door-openings/{id}/photo
    controller: App\Controller\PhotoController::upload
    methods: POST

api_photo_list:
    path: /api/photos
    controller: App\Controller\PhotoController::list
    methods: GET

api_photos_by_door: 
    path: /api/door-openings/{id}/photos 
    controller: App\Controller\PhotoController::getPhotosByDoor 
    methods: GET

api_photo_get: 
    path: /api/photos/{id} 
    controller: App\Controller\PhotoController::getPhoto 
    methods: GET

api_photo_delete: 
    path: /api/photos/{id} 
    controller: App\Controller\PhotoController::deletePhoto 
    methods: DELETE

api_family_register:
    path: /api/family/register
    controller: App\Controller\FamilyRegistrationController::register
    methods: POST